name: Hello world worlflow
on: 
  push: 
    branches: 
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch: 

jobs:
  hello:    #Job name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run:  echo "Hello world 2"
        shell: bash

  goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: goodbye world
        run: echo "Goodbye world"
        shell: bash
